@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(249, 256, 254);
}


html {
    scroll-snap-type: y mandatory;
}

.navbar {
    scroll-snap-align: start;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid black;
    background-color: rgb(249, 256, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.left-nav {
    margin-left: 10px;
}


.logo {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.right-nav {
    margin-right: 25px;
}
.items {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.list-item {
    text-decoration: none;
    padding: 15px;
    color: black;
}

.list-item:hover {
    background-color: rgb(140, 15, 38);
    border-radius: 20px;
}

.body {
    height: 100vh;
}

.text {
    position: relative;
    top: 250px;
    left: 130px;
    max-width: 380px;
    font-family: "poppins";
}

.text p:nth-child(1) {
    display: inline-block;
    letter-spacing: 0.1em;
    border-right: solid 3px black;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: type 2s steps(21) 1s forwards,
    blink 0.5s steps(1) infinite;
}

@keyframes type {
    to { width: 21ch ;}
}

@keyframes blink{
    from { border-color: transparent}
    50% { border-color: black }
    to{ border-color: transparent}
}

img {
    height: 470px;
    border-radius: 50%;
    float: right;
    margin-right: 250px;
}

section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.9em;
    font-style: "poppins";
    background-color: rgb(153, 31, 29);
}

section p {
    background-color: rgb(153, 31, 29);
}

.btn {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
}